body {
	color: #ffffff;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 14px;
}

.wrapper {
	max-width: 1160px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.flex-align-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header {
	position: fixed;
	top: 29px;
	right: 0;
	left: 0;
	z-index: 99;
}

.logo-site {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 150px;
	max-height: 40px;
	padding: 10px 20px;
	border: 2px solid #f3af7f;
	color: #f3af7f;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	text-transform: uppercase;
	/* Text style for "SITE NAME" */
	letter-spacing: 0.14px;
}

.menu {
	list-style: none;
	display: flex;
}

.menu_item {
	margin-left: 20px;
}

.menu-link {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	text-transform: uppercase;
	/* Text style for "H, OME" */
	color: #ffffff;
	letter-spacing: 0.12px;
	/* Text style for "ABOUT" */
	letter-spacing: 0.12px;
}

.menu-link:hover {
	color: #f3af7f;
}

h1 {
	/* Style for "WELCOME" */
	padding-top: 100px;
	margin-bottom: 50px;
	color: #f3af7f;
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	font-weight: bold;
	line-height: 16px;
	letter-spacing: 0.48px;
	text-transform: uppercase;
}

h1 .wcol {
	color: #ffffff;
}

.sm {
	max-width: 700px;
	color: #ffffff;
	margin: auto;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	/* Text style for "L, orem ip" */
	letter-spacing: 0.56px;
}

/*banner*/
.banner {
	text-align: center;
	padding: 30px;
	max-height: 800px;
	background: url(../img/header_img.png) no-repeat center top/ cover;
}


.folow-us {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	padding-top: 20px;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	text-transform: uppercase;
	/* Text style for "FOLLOW US" */
	letter-spacing: 0.14px;
}

.or {
/* Style for "OR" */
	margin-top: 20px;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	text-transform: uppercase;
	/* Text style for "O, R" */
	letter-spacing: 0.14px;
}

.img-media {
	width: 100px;
	height: 50px;
	padding-top: 20px;
}

/*Почему стили на саму кнопку и текст пишутся в одном блоке*/
.btn {
	display: inline-block;
	margin-top: 20px;
	max-width: 200px;
	max-height: 70px;
	padding: 10px 20px;
	border: 2px solid #ffffff;
	color: #ffffff;
	line-height: 16px;
	text-transform: uppercase;
	/* Text style for "S, IGN UP" */
	letter-spacing: 0.12px;
}

.btn:hover {
	background-color: #EF9157;
	color: #fff;
	border-color:#EF9157;
}

.contact {
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 20px;
	background-color: #000000;
}

.bg {
	height: 390px;
	background-color: #120d11;
} 

.dif-color {
	color: #f3af7f;
}

.about-us {
	text-align: center;
	margin-top: 20px;
	font-size: 30px;
}

.text-about-us {
	margin: auto;
	margin-top: 20px;
	text-align: center;
	max-width: 770px;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1.26px;
	text-align: center;
	color: #c7c7c7;
}

.horizontal-line {
	margin-top: 40px;
	width: 550px;
	size: 2px;
	border-color: #f3ad7d;
}

.our-services-bg {
	max-height: 420px;
	padding: 20px;
	background: url(../img/our-services-bg.png) no-repeat center top/ cover;
}

.container-services {
	display: flex;
	margin-bottom: 20px;
}

.col-left {
	width: 50%;
	padding-right: 30px;
}

.our-services {
	max-width: 700px;
	text-align: right;
	margin: auto;
	color: #c7c7c7;
}

.head-of-services {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 16px;
	letter-spacing: 1.5px;
	color: #c7c7c7;
}

.services-item {
	margin-bottom: 25px;
	margin-top: 25px;
	font-size: 18px;
	line-height: 16px;
	letter-spacing: 0.9px;
	color: #f3ae7d;
}

.services-text {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.6px;
	color: #c7c7c7;
}

.icons-services {
	position: absolute;
	list-style: none;
	left: 430px;
	margin: 30px;
}

.icons-services-style {
	margin: 10px;
}

.project-bg {
	text-align: center;
	height: 520px;
	padding: 30px;
	background: url(../img/project-bg.png) no-repeat center top/ cover;
}

.project-heading {
	font-size: 30px;
	text-align: center;
	line-height: 16px;
	letter-spacing: 1.5px;
	color: #ffffff;
}

.project-text {
	display: flex;
	justify-content: center;
	max-width: 770px;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 1.26px;
	margin: auto;
	padding-top: 50px;
	text-align: center;
	color: #c7c7c7;
}

.image-project-block {
	padding-top: 30px;
	}

.img-project {
	display: flex;
	justify-content: center;
}

.btn-bottom {
	display: inline-block;
	justify-content: center;
	margin: 30px;
	max-width: 150px;
	max-height: 40px;
	padding: 10px 20px;
	border: 2px solid #ffffff;
	color: #000000;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	letter-spacing: 0.12px;
}

.btn-bottom:hover {
	background-color: #EF9157;
	color: #fff;
	border-color:#EF9157;
}

.footer-bg {
	background-color: #000000;
	height: 80px;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-container {
	position: absolute;
	left: 0;
	right: 0;
	max-width: 1160px;
	margin: 0 auto;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.menu_item-footer {
	margin-right: 20px;
}